$title-color: #FD5D5D;

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card{
    margin: 2%;
    text-align: left;
    width: 30%;
    border: 1px solid #ccc;

}
mat-card-header{
   display: flex;
   justify-content: center;
   color: $title-color;
}

.mat-mdc-form-field {
    width: 97%;
    margin: 2%;
}

mat-card-actions{
    display: flex;
    justify-content: space-between;
}